@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

/* Estilos globales y principales para móviles */
.page-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--color-texto-Primario);
  padding: 10px;
}

.booking-details-card {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.booking-details-card button {
  background-color: var(--color-marca-Primario);
  color: var(--color-fondo);
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.booking-details-card button:hover {
  background-color: var(--color-marca-Secundario);
  color: var(--color-texto-Primario);
}

.booking-details-page ul,
.booking-details-page li {
  list-style: none;
}

.booking-details-page h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  color: var(--color-texto-Primario);
}

.booking-details-page a {
  color: var(--color-marca-Primario);
  text-decoration: none;
}

.booking-details-page a:hover {
  text-decoration: underline;
}

.estrellitas {
  width: 40px;
  transition: width 0.3s ease;
  margin-top: 10px;
}

.estrellitas:hover {
  width: 60px;
}

.carrusel-container {
  width: 100%;
  max-width: 600px; /* Tamaño máximo para el carrusel */
  margin: 0 auto;
  padding: 0;
}

.carrusel {
  width: 100%; /* Ajusta la imagen al tamaño del contenedor */
  height: auto;
  max-height: 400px; /* Tamaño máximo de altura */
}

.text-area {
  width: 90vw;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--color-marca-Primario);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  resize: vertical;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.text-area:hover {
  border-color: #999;
}

.text-area:focus {
  border-color: var(--color-marca-Primario);
  box-shadow: 0 0 10px var(--color-marca-Secundario);
  outline: none;
}

.text-area::placeholder {
  color: #aaa;
  font-style: italic;
}

/* Ajustes de estilo para móviles */
.booking-details-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.carruselIMG img {
  width: 100%; /* Imagen se ajusta al contenedor */
  height: auto;
}

.booking-info {
  list-style: none;
  padding: 0;
}

.booking-info li {
  margin-bottom: 1rem;
}

/* Media query para tablets (min-width: 768px y max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .text-area {
    width: 50vw;
  }

  .carrusel-container {
    max-width: 700px;
  }
  .carrusel-container button {
    width: 20px;
  }

  .carrusel {
    max-height: 350px; /* Ajustamos la altura máxima en tablets */
  }

  .booking-details-content {
    flex-direction: row; /* Cambia la disposición a filas */
    gap: 2rem; /* Espacio entre la imagen y el contenido */
  }
}

/* Media query para pantallas grandes (escritorio) */
@media (min-width: 1024px) {
  .text-area {
    width: 40vw;
  }

  .carrusel-container {
    margin: 0;
    padding: 0;
    max-width: 800px;
  }

  .carrusel {
    max-height: 400px;
  }

  .booking-details-content {
    align-items: flex-start; /* Alinea la imagen y el texto al inicio */
  }
}

.booking-info span {
  display: block; /* Esto hará que el span se comporte como un bloque */
  margin-top: 4px; /* Espacio entre las líneas */
}

.booking-info strong {
  color: rgb(112, 130, 248);
}
